In [44]:
import requests
import os
from dotenv import load_dotenv

load_dotenv() 

# Define the API endpoint for token generation
token_url = "https://api.myuplink.com/oauth/token"

# Define the payload for the token request
payload = {
    "client_id": "27a85d09-2380-437e-83a4-f7f4e7f13b98",
    "client_secret": os.getenv("CLIENT_SECRET"),
    "grant_type": "client_credentials",
    "scope": "READSYSTEM WRITESYSTEM"
}

# Define the headers for the request
headers = {
    "Content-Type": "application/x-www-form-urlencoded"
}

# Make the POST request to generate the token
response = requests.post(token_url, data=payload, headers=headers)
token = response.json().get("access_token")
print(response.status_code)

200

In [45]:
import requests

# Define the API endpoint
url = "https://api.myuplink.com/v2/devices/emmy-r-29350-20240309-06603616062027-d8-80-39-87-32-f9/points"

# Make the GET request
response = requests.get(url, headers={"Authorization": f"Bearer {token}"})
print(response.status_code)
data = response.json()

200

In [46]:
import json
import pandas as pd

# Convert the JSON data to a DataFrame
df = pd.DataFrame(data)

filtered_df = df[df["parameterId"] == '40013']

filtered_df

,category,parameterId,parameterName,parameterUnit,writable,timestamp,value,strVal,smartHomeCategories,minValue,maxValue,stepValue,enumValues,scaleValue,zoneId
3,F750 CU 3x400V,40013,Hot water top (BT7),°C,False,2025-03-07T20:50:09+00:00,50.9,50.9°C,[],NaN,NaN,1.0,[],0.1,None

In [47]:
import requests

# Define the API endpoint
url = "https://api.myuplink.com/v2/systems/me"

# Make the GET request
response = requests.get(url, headers={"Authorization": f"Bearer {token}"})
print(response.status_code)
data = response.json()

200

In [48]:
data

{'page': 1,
 'itemsPerPage': 10,
 'numItems': 1,
 'systems': [{'systemId': '22af25ca-fd41-4202-ac1b-359e822e05b1',
   'name': 'Nibe F750 Olandsvägen',
   'securityLevel': 'admin',
   'hasAlarm': False,
   'country': 'Sweden',
   'devices': [{'id': 'emmy-r-29350-20240309-06603616062027-d8-80-39-87-32-f9',
     'connectionState': 'Connected',
     'currentFwVersion': '9701R6',
     'deviceType': '',
     'product': {'serialNumber': '06603616062027',
      'name': 'F750 CU 3x400V'}}]}]}